* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Arial Narrow Bold', sans-serif;
}
a {
    
    text-decoration: none;
}
.container {
    min-height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    background-image: url();
    background-size: cover;
    background-position: top center;
    position: relative;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
}